/* nav */.navbar {
  --padding:
    #{$size-half}
    calc(#{$size-1} + env(safe-area-inset-right))
    calc(#{$size-half} + env(safe-area-inset-bottom))
    calc(#{$size-1} + env(safe-area-inset-left));
  --height: #{$size-7};
  // size-width-navbar is global variable

  --menu-padding: 0;
  --menu-item-padding: 0 #{$size-1};

  padding: var(--padding);
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  height: calc(var(--height) + env(safe-area-inset-bottom));
  width: var(--size-width-navbar);

  @media (--tablet) {
    --padding: 0;
    --width: #{$size-line * 4};

    top: 0;
    right: auto;
  }
}

.navbar [role='menu'] {
  display: flex;
  justify-content: space-between;
  padding: var(--menu-padding);

  > li {
    display: inline-block;
  }

  a {
    padding: var(--menu-item-padding);
  }
}
