@use '../../config/variables' as *;
@use '../../config/mixins' as *;

/*
  TODO:
  - Проверить открывается ли сайт на Githup Pages:
  https://01-boilerplate.super-mark.ru/views/wip/_tmp.html.
  - Тестирование и отладка стилей на планшете.
*/

/* -----------------------------------------------------------------------------
 * BASE
 * -------------------------------------------------------------------------- */
/* #region */

/* The <dialog> itself fulfills the role of a wrapper */
/* dialog */.modal {
  --modal-background: var(--color-background-base);
  --modal-border-radius: #{$shape-border-radius-lg};
  --modal-padding-x: var(--size-padding-x-box);

  background: var(--modal-background);
  border-radius: var(--modal-border-radius);
  box-shadow: var(--layer-box-shadow-z5);

  // Add extra padding on the outside of the scrollbar
  border: $size-1 solid transparent;
  border-bottom-width: $size-2;

  border-radius: var(--modal-border-radius) var(--modal-border-radius) 0 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: auto auto 0;
  padding: 0;
  overflow-y: auto;
  overscroll-behavior-y: contain;
  position: fixed;
  inset: 0;
  width: min(100%, #{$size-width-lg});
  height: calc(100% - #{$size-5});

  /* z-index has no effect in the top layer. */

  /* Closed state */
  &:not([open]) {
    display: none;
  }

  @media (pointer: coarse) {
    scrollbar-gutter: stable both-edges;
  }

  @media (--tablet) {
    border-radius: var(--modal-border-radius);
    border-top-width: $size-2;
    margin-bottom: auto;
    height: max-content;
    max-height: calc(100vh - #{$size-8});
  }

  @media (pointer: fine) {
    @include scrollbar();
  }
}

/* SIZES */
/* #region */
.modal.is-sm {
  border-radius: var(--modal-border-radius);
  margin-bottom: auto;
  width: min(calc(100vw - #{$size-4}), #{$size-width-base});
}

/* Large */
.modal.is-lg {
  @media (--tablet) {
    width: $size-width-xl;
  }
}
/* #endregion */

/* SCRIMS */
/* #region */
.modal::before,
.modal::after {
  display: block;
  flex-shrink: 0;
  content: '';
  position: sticky;
  right: 0;
  left: 0;
  height: $size-4;
  z-index: 1;
}

.modal::before {
  background-image:
    linear-gradient(
      var(--modal-background) 1%,
      hsl(var(--h) var(--s-neutral) var(--l-bg-base) / .5) 33.33%,
      hsl(var(--h) var(--s-neutral) var(--l-bg-base) / 0)
    );
  top: 0;
}

.modal::after {
  background-image:
    linear-gradient(
      hsl(var(--h) var(--s-neutral) var(--l-bg-base) / 0),
      hsl(var(--h) var(--s-neutral) var(--l-bg-base) / .5) 66.67%,
      var(--modal-background)
    );
  bottom: 0;
}
/* #endregion */

/* BACKDROP */
.modal:modal::backdrop {
  background-color: $color-background-scrim;
}

@supports not (selector(:modal)) {
  .modal::backdrop {
    background-color: $color-background-scrim;
  }
}

/* #endregion */

/* -----------------------------------------------------------------------------
 * HEADER
 * -------------------------------------------------------------------------- */
/* #region */
.modal > header {
  /* The subtracted value is equal to the width of the border created for
  scrollbar indent */
  padding-inline: calc(var(--modal-padding-x) - #{$size-1});
  position: relative;

  @media (--phone) {
    position: sticky;
    top: -1px;
  }
}

/* Header class is added in JS */
.modal > .is-pinned {
  @media (--phone) {
    background-color: var(--color-background-acrylic);
    backdrop-filter: var(--color-background-acrylic-backdrop);
    box-shadow: 0 1px 0 var(--color-ink-border-translucent);
    padding-block: $size-1 0;
    padding-inline: 0;
    z-index: 2;

    @supports not selector(section:has(> footer)) {
      padding-inline: $size-1 * 11;
    }

    @-moz-document url-prefix('') {
      background-color: hsl(var(--h) var(--s-neutral) 99% / .9);
    }
  }
}

.modal:has(> footer) > .is-pinned {
  @media (--phone) {
    padding-inline: $size-1 * 11;
  }
}

.modal__close + .is-pinned {
  @media (--phone) {
    padding-inline-end: $size-8;
    padding-inline-start: calc(var(--modal-padding-x) - #{$size-1});
  }
}

.is-pinned > .modal__title {
  @media (--phone) {
    @include text-truncate;

    font-size: var(--font-size-base);
    font-weight: bolder;
    line-height: var(--font-line-height-base);
    text-align: center;
    padding-top: var(--size-padding-top-base);
    padding-bottom: var(--size-padding-bottom-base);
  }
}

.modal__close {
  --height: auto;

  background-color: var(--color-background-2ry);
  /* Expand clicable area to recomended size */
  background-clip: padding-box;
  border: solid $size-1 transparent;
  /* Lift up over the scrim */
  order: -1;
  align-self: flex-end;
  position: sticky;
  top: 0;
  inset-inline-end: $size-1;
  z-index: 3;

  @media (--tablet) {
    top: $size-1;
  }
}

/* #endregion */

/* -----------------------------------------------------------------------------
 * CONTENT
 * -------------------------------------------------------------------------- */
/* #region */
.modal__body {
  padding-inline: calc(var(--modal-padding-x) - #{$size-1});
}

/* External content container */
.modal__content {
  padding-inline: calc(var(--modal-padding-x) - #{$size-1});

  .grid {
    @media (--tablet) {
      --columns: 1;
    }
  }
}
/* #endregion */

/* -----------------------------------------------------------------------------
 * FOOTER - BUTTONS
 * -------------------------------------------------------------------------- */
/* #region */

.modal > footer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: $size-1;
  justify-content: flex-end;
  position: sticky;
  z-index: 3;

  @supports not (gap: 8px) {
    > * {
      margin-left: 4px;
    }
  }

  @media (--phone) {
    order: -1;
    padding: 0;
    top: 0;
    inset-inline: 0;
  }

  @media (--tablet) {
    background-color: var(--color-background-acrylic);
    backdrop-filter: var(--color-background-acrylic-backdrop);

    // Prevent shift on full scroll caused by the bottom scrim (.modal::after)
    order: 1;
    padding-block: $size-2 0;
    padding-inline: $size-1;
    bottom: 0;
    inset-inline: var(--modal-padding-x) 0;

    @-moz-document url-prefix('') {
      background-color: hsl(var(--h) var(--s-neutral) 99% / .9);
    }
  }
}


.modal:not(:has(> header)) > footer {
  @media (--phone) {
    background-color: var(--color-background-acrylic);
    backdrop-filter: var(--color-background-acrylic-backdrop);
    box-shadow: 0 1px 0 var(--color-ink-border-translucent);
    padding-bottom: $size-1;
  }
}

:where(.modal > footer) button {
  border-radius: calc(var(--modal-border-radius) - #{$size-1});

  @media (--phone) {
    max-width: $size-1 * 10;
  }
}

:where(.modal > footer) [data-action='close'] {
  margin-inline-end: auto;

  @media (--phone) {
    background-color: transparent;
    padding-block: $size-half 0;
    padding-inline: $size-1;
  }
}

/* Top Border */
.modal > footer::before {
  @media (--tablet) {
    border-top: $size-border-width solid var(--color-ink-accent);
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: calc(var(--modal-padding-x) - #{$size-1});
    height: 0;
  }
}
/* #endregion */

/* -----------------------------------------------------------------------------
 * UTILITY AND ANIMATION
 * -------------------------------------------------------------------------- */
/* #region */

/* Kill the scroll on the html root */
/* stylelint-disable selector-no-qualifying-type */
/* html */.has-open-modal,
html:has(dialog[open]) {
  padding-inline-end: 0;
  overflow: hidden;
  pointer-events: none;

  .modal {
    pointer-events: auto;
  }
}
/* stylelint-enable selector-no-qualifying-type */

/* Animation - Openning */
.modal[open] {
  animation:
    slide-in-up var(--motion-duration-lg) $motion-easing-appearance,
    fade-in var(--motion-duration-lg) $motion-easing-appearance;

  @media (--tablet) {
    animation:
      slide-in-down calc(var(--motion-duration-lg) * 1.5) $motion-easing-appearance,
      fade-in calc(var(--motion-duration-lg) * 1.5) $motion-easing-appearance;
  }
}

.modal[open]::backdrop {
  animation: fade-in calc(var(--motion-duration-lg) * 1.5) $motion-easing-appearance;
}

/* Animation - Closing */
.modal.is-closing {
  animation:
    slide-out-down var(--motion-duration-base) $motion-easing-disappearance,
    fade-out var(--motion-duration-base) $motion-easing-disappearance;
  display: flex;
  inset: 0;
  pointer-events: none;

  @media (--tablet) {
    animation:
      slide-out-up var(--motion-duration-base) $motion-easing-disappearance,
      fade-out var(--motion-duration-base) $motion-easing-disappearance;
  }
}

.modal.is-closing::backdrop {
  animation: fade-out var(--motion-duration-base) $motion-easing-disappearance;
}
/* #endregion */
