/* -------------------------------------------------------------------------- */
/* #region: DOCUMENT                                                          */
/* -------------------------------------------------------------------------- */

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  color-scheme: light dark;
  font-size: var(--font-size-doc);
  font-synthesis: none;
  hanging-punctuation: first last;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
  interpolate-size: allow-keywords;
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}

@media (pointer: fine) {
  html {
    scrollbar-color: var(--color-scroll-thumb) var(--color-scroll-track);
    scrollbar-width: thin;
  }

  html::-webkit-scrollbar {
    height: var(--size-1);
    width: var(--size-1);
  }

  html::-webkit-scrollbar-track {
    background: var(--color-scroll-track);
    border: none;
    box-shadow: none;
  }

  html::-webkit-scrollbar-thumb {
    background-color: var(--color-scroll-thumb);
    border: var(--size-half) solid transparent;
    border-radius: var(--border-radius-pill);
  }
}

body {
  accent-color: var(--color-brand);
  background: var(--color-bg);
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  letter-spacing: var(--letter-spacing-base, 0.011em);
  line-height: var(--line-height-base);
  text-align: left;
  margin: 0;
  padding:
    env(safe-area-inset-top)
    env(safe-area-inset-right)
    env(safe-area-inset-bottom)
    env(safe-area-inset-left);
  overflow-x: hidden;
  min-width: 320px;
  min-height: 100vh;
  min-height: 100dvh;
}

/* #endregion */
