*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  min-height: 100vh;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

a,
button {
  cursor: pointer;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

input,
textarea,
select {
  color: inherit;
}

legend {
  display: block;
  float: left;
  line-height: inherit;
  padding: 0;
  width: 100%;
}

legend + * {
  clear: left;
}

summary {
  cursor: pointer;
  list-style: none;
}

summary::-webkit-details-marker,
summary::marker,
summary::-moz-list-bullet {
  display: none;
}

:where([hidden]) {
  display: none;
}

:target {
  scroll-margin-block: 5ex;
}

:where([contenteditable]) {
  overflow-wrap: break-word;
}

:where([draggable='true']) {
  -webkit-user-drag: element;
}

/* stylelint-disable selector-max-id, selector-id-pattern */
#root,
#__next {
  isolation: isolate;
}

/* -------------------------------------------------------------------------- */
/* #region: BROWSER NORMALIZE                                                 */
/* -------------------------------------------------------------------------- */

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 0;
}

:-moz-ui-invalid {
  box-shadow: none;
}

::-ms-expand {
  display: none;
}

/* #endregion */
