/* -------------------------------------------------------------------------- */
/* #region: BASE LABEL                                                        */
/* -------------------------------------------------------------------------- */

label {
  --label-color: var(--color-text-02);
  --label-font-size: var(--font-size-base);
  --label-line-height: var(--line-height-base);
  --label-margin-bottom: var(--size-half);

  color: var(--label-color);
  cursor: pointer;
  font-size: var(--label-font-size);
  letter-spacing: var(--letter-spacing-base, normal);
  line-height: var(--label-line-height);
  margin-bottom: var(--label-margin-bottom);
  padding-block: var(--padding-top-base) var(--padding-bottom-base);
  user-select: none;
}

@media (any-hover: hover) {
  label:hover {
    --label-color: var(--color-text);
  }
}

label:focus-visible {
  outline: 2px solid var(--color-focus);
  outline-offset: 2px;
}

label.label-error {
  --label-color: var(--color-error-text);
}

label.label-success {
  --label-color: var(--color-success-text);
}

label.label-sm {
  --label-font-size: var(--font-size-caption);
  --label-line-height: var(--line-height-caption);
}

label.label-lg {
  --label-font-size: var(--font-size-lg);
  --label-line-height: var(--line-height-lg);
}

/* #endregion */

/* -------------------------------------------------------------------------- */
/* #region: FLOAT LABEL COMPONENT                                             */
/* -------------------------------------------------------------------------- */

.form-float {
  --float-label-color: var(--color-text-02);
  --float-label-color-active: var(--color-text-brand);
  --float-label-font-size: var(--font-size-base);
  --float-label-font-size-active: var(--font-size-caption);
  --float-label-line-height: var(--line-height-base);
  --float-label-line-height-active: var(--line-height-caption);
  --float-label-top: var(--size-2);
  --float-label-top-active: var(--size-half);
  --float-label-left: var(--padding-x-input);
  --float-label-transition: all var(--duration-200) var(--easing-base);
  position: relative;
}

.form-float label {
  color: var(--float-label-color);
  cursor: text;
  display: block;
  font-size: var(--float-label-font-size);
  line-height: var(--float-label-line-height);
  margin: 0;
  pointer-events: none;
  position: absolute;
  inset-inline-start: var(--float-label-left);
  inset-block-start: var(--float-label-top);
  transition: var(--float-label-transition);
  z-index: 1;
}

.form-float:has(input:-webkit-autofill) {
  --icon-stroke: var(--color-text-02-brand);
}

.form-float:has(input:-webkit-autofill:not(:focus)) label {
  color: transparent;
}

.form-float:has(input:-moz-ui-invalid:not(output)) label {
  color: var(--float-label-color-active);
  font-size: var(--float-label-font-size-active);
  line-height: var(--float-label-line-height-active);
  inset-block-start: var(--float-label-top-active);
}

.form-float input::placeholder,
.form-float textarea::placeholder {
  color: transparent;
}

.form-float input:focus ~ label,
.form-float input:not(:placeholder-shown) ~ label,
.form-float textarea:focus ~ label,
.form-float textarea:not(:placeholder-shown) ~ label,
.form-float select:focus ~ label,
.form-float select:not([value=''], [value]) ~ label,
.form-float select[value]:not([value='']) ~ label {
  color: var(--float-label-color-active);
  font-size: var(--float-label-font-size-active);
  line-height: var(--float-label-line-height-active);
  inset-block-start: var(--float-label-top-active);
}

.form-float input:focus ~ label,
.form-float textarea:focus ~ label,
.form-float select:focus ~ label {
  --float-label-color-active: var(--color-focus);
}

.form-float input:user-invalid ~ label,
.form-float input:invalid:not(:focus, :placeholder-shown) ~ label,
.form-float select:user-invalid ~ label,
.form-float select:invalid:not(:focus, :placeholder-shown) ~ label,
.form-float textarea:user-invalid ~ label {
  color: var(--color-error-text);
}

.form-float input:user-valid ~ label,
.form-float input:valid:not(:focus, :placeholder-shown) ~ label,
.form-float select:user-valid ~ label,
.form-float select:valid:not(:focus, :placeholder-shown) ~ label,
.form-float textarea:user-valid ~ label {
  color: var(--color-success-text);
}

.form-float textarea:user-invalid ~ label {
  --float-label-color-active: var(--color-error-text);
}

.form-float textarea:user-valid ~ label {
  --float-label-color-active: var(--color-success-text);
}

/* #endregion */

