&[type='date'],
&[type='datetime-local'],
&[type='month'],
&[type='time'],
&[type='week'] {
  // TODO: use postcss-inline-svg
  background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M16%203V7M8%203V7M4%2011H20M11%2015H12V18M6%205H18C19.1046%205%2020%205.89543%2020%207V19C20%2020.1046%2019.1046%2021%2018%2021H6C4.89543%2021%204%2020.1046%204%2019V7C4%205.89543%204.89543%205%206%205Z%22%20stroke%3D%22hsla(0%2C%200%25%2C%200%25%2C%20.38)%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fsvg%3E');
  background-position: center right $size-1;
  background-repeat: no-repeat;
  background-size: $size-xy-icon auto;
}

// Time. Add --icon-time in theme styles
&[type='time'] {
  // TODO: use postcss-inline-svg
  background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M12%207V12L15%2015M21%2012C21%2016.9706%2016.9706%2021%2012%2021C7.02944%2021%203%2016.9706%203%2012C3%207.02944%207.02944%203%2012%203C16.9706%203%2021%207.02944%2021%2012Z%22%20stroke%3D%22hsla(0%2C%200%25%2C%200%25%2C%20.38)%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fsvg%3E%0A');
}

/* Visually hide native calendar button to replace it with custom icon */
::-webkit-calendar-picker-indicator {
  cursor: pointer;
  opacity: 0;
  width: $size-xy-icon;
}
