[type='file'] {
  --color: var(--color-ink-2ry);
  border: 0;
  border-radius: 0;
  background: none;
  padding: calc(var(--size-padding-y-input) * .5) 0;

  // ⚠️ Selector chain does not work. Use the mixin in the separated style blocks
  @mixin file-selector-button {
    background-color: var(--color-ink-accent);
    border-radius: $shape-border-radius-sm;
    border: 0;
    color: var(--color-ink-text);
    cursor: pointer;
    font-size: var(--font-size-base);
    line-height: var(--font-line-height-base);
    text-align: center;
    margin-right: $size-1;
    margin-inline-end: $size-1;
    margin-left: 0;
    margin-inline-start: 0;
    padding: var(--size-padding-y-input);
    outline: 0;
    transition:
      background-color var(--motion-duration-sm) $motion-easing-base,
      border-color var(--motion-duration-sm) $motion-easing-base,
      box-shadow var(--motion-duration-sm) $motion-easing-base,
      color var(--motion-duration-sm) $motion-easing-base;

    &:is(:hover, :active, :focus) {
      --background-color: var(--color-background-base);
      --box-shadow: 0 0 0 1px var(--color-ink-border);
    }
  }

  &::file-selector-button {
    @include file-selector-button;
  }

  &::-webkit-file-upload-button {
    @include file-selector-button;
  }

  &::-ms-browse {
    @include file-selector-button;
  }
}

::-webkit-file-upload-button {
  // Correct the inability to style clickable types in iOS and Safari
  appearance: button;
  // Change font properties to `inherit` in Safari
  font: inherit;
}
