@use '../base/abstracts/mixins' as *;

// For small projects, it's not necessary to import all utility classes and bother
// with tree shaking. Just include here only the helper classes you've actually
// used during layout.

// -----------------------------------------------------------------------------
// #region: SPACING
// -----------------------------------------------------------------------------

.mt-1 { margin-top: var(--size-1); }
.mt-2 { margin-top: var(--size-2); }
.mt-1l { margin-top: var(--size-line); }
.mt-2l { margin-top: var(--size-6); }

.mb-1 { margin-bottom: var(--size-1); }
.mb-2 { margin-bottom: var(--size-2); }
.mb-1l { margin-bottom: var(--size-line); }

.pt-half-max { padding-top: var(--spacer-half-max); }
.pb-half-max { padding-bottom: var(--spacer-half-max); }
.py-half-max { padding-block: var(--spacer-half-max); }

.pt-max { padding-top: var(--spacer-max); }
.pb-max { padding-bottom: var(--spacer-max); }

// #endregion

// -----------------------------------------------------------------------------
// #region: DISPLAY
// -----------------------------------------------------------------------------

.d-none { display: none; }
.d-block { display: block; }
.d-flex { display: flex; }

@media (--tablet) {
  .tablet\:d-none { display: none; }
  .tablet\:d-inline { display: inline; }
  .tablet\:d-flex { display: flex; }
  .tablet\:d-block { display: block; }
}

@media (--tablet-l) {
  .tablet-l\:d-none { display: none; }
  .tablet-l\:d-block { display: block; }
  .tablet-l\:d-inline { display: inline; }
}

@media (--laptop) {
  .laptop\:d-none { display: none; }
}

// #endregion

// -----------------------------------------------------------------------------
// #region: TYPOGRAPHY
// -----------------------------------------------------------------------------

.nobr { white-space: nowrap; }
.text-2ry { color: var(--color-ink-2ry); }
.text-center { text-align: center; }
.text-info { color: var(--color-ink-text-info); }
.text-success { color: var(--color-ink-text-success); }
.text-error { color: var(--color-ink-text-error); }

// #endregion

// -----------------------------------------------------------------------------
// #region: MISC
// -----------------------------------------------------------------------------

.visually-hidden {
  @include visually-hidden;
}

.w-fit { width: fit-content; }

// #endregion
