.content {
  margin-inline: auto;
  padding-top: $size-line;
  padding-bottom: $size-line * 2;
  width: min(100%, var(--size-width-readable));

  @media (--tablet) {
    padding-top: $size-line * 2;
    padding-bottom: $size-line * 3;
  }
}

/*
FULL BLEED SECTION
.content child section expanded on to 100% screen width.
It can be used as a container for an image or a promo.
RTL compatible
use padding-start to deal with sidebar */
.content__full-width {
  @media (--desktop) {
    text-align: center;
    margin-inline: -50vw;
    padding-inline-end: var(--size-padding-x-container);
    padding-inline-start: calc(var(--size-width-navbar) + var(--size-padding-x-container));
    position: relative;
    right: 50%;
    left: 50%;
    width: 100vw;

    > img,
    > table,
    > .border,
    > .scroller {
      margin-inline: auto;
      max-width: var(--size-width-content-extended);
    }
  }
}
