@use 'sass:map';
@use '../../theme/abstracts' as *;

// -----------------------------------------------------------------------------
// #region: BASE STYLES
// -----------------------------------------------------------------------------

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, h6 {
  margin-block-start: 0;
  margin-block-end: var(--size-2);
  text-rendering: optimizeLegibility;
}

.h1, .h2, .h3, .h4 {
  display: block;
}

h1, .h1,
h2, .h2,
h3, .h3 {
  font-family: var(--font-family-titles);
  text-wrap: balance;
}

// #endregion

// -----------------------------------------------------------------------------
// #region: HEADING VARIANTS
// -----------------------------------------------------------------------------

h1, .h1 {
  @include text-format(title);

  font-weight: var(--font-weight-titles, bold);
  letter-spacing: var(--letter-spacing-title, normal);
}

h2, .h2 {
  @include text-format(h2);

  font-weight: var(--font-weight-h2, bold);
  letter-spacing: var(--letter-spacing-h2, normal);
}

h3, .h3 {
  @include text-format(h3);

  font-weight: var(--font-weight-h3, bold);
  letter-spacing: var(--letter-spacing-h3);
}

h4, .h4,
h5, h6 {
  @include text-format(base);

  font-weight: var(--font-weight-h4, bold);
  letter-spacing: var(--letter-spacing-base);
}

// #endregion

// -----------------------------------------------------------------------------
// #region: CONTEXTUAL SPACING
// -----------------------------------------------------------------------------

:where(address, blockquote, div, dl, figure, form, ol, p, pre, table, ul)
  + :is(h2, h3, h4, h5, h6, .h2, .h3, .h4, .h5, .h6) {
  margin-block-start: var(--margin-top-subhead, var(--size-line));
}

// #endregion
