@scope (.hero) {

  /* ------------------------------------------------------------------------ */
  /* #region: BASE                                                            */
  /* ------------------------------------------------------------------------ */

  :scope {
    --hero-image-flex: 1 1 100%;
    --hero-content-flex: 1 1 100%;
    --hero-gap: var(--size-4);
    --hero-justify: center;
    --hero-padding-block: var(--size-4);
    --button-height: var(--size-7);
    --hero-circle-radius: 216px;
    --hero-circle-x: 25%;
    --hero-circle-y: 50%;
    --hero-circle-fill: var(--color-fill);
    --hero-circle-feather: 1px;

    background:
      radial-gradient(
        circle var(--hero-circle-radius) at var(--hero-circle-x) var(--hero-circle-y),
        var(--hero-circle-fill) 0 calc(var(--hero-circle-radius) - var(--hero-circle-feather)),
        transparent var(--hero-circle-radius)
      ),
      var(--color-bg-z1);
    min-height: 100vh;
    min-height: 100dvh;
  }

  @media (--tablet) {
    :scope {
      --hero-image-flex: 1 1 calc(33.33% - var(--hero-gap) / 2);
      --hero-content-flex: 1 1 calc(66.66% - var(--hero-gap) / 2);
      --hero-gap: var(--size-4);
      --hero-padding-block: var(--size-4);
    }
  }

  @media (--desktop) {
    :scope {
      --hero-gap: var(--size-5);
      --hero-padding-block: var(--size-5);
    }
  }

  /* #endregion */

  /* ------------------------------------------------------------------------ */
  /* #region: LAYOUT                                                          */
  /* ------------------------------------------------------------------------ */

  .container {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: var(--hero-gap);
    justify-content: var(--hero-justify);
    min-height: 100vh;
    min-height: 100dvh;
    padding-block: var(--hero-padding-block);
  }

  .hero-image {
    flex: var(--hero-image-flex);
    margin-bottom: 0;
  }

  .hero-image img {
    display: block;
    height: auto;
    max-width: 100%;
    position: relative;
    z-index: 1;
  }

  @media (--phone) {
    .hero-image {
      order: -1;
    }
  }

  .hero-content {
    flex: var(--hero-content-flex);
  }

  .grid {
    --grid-gap: var(--size-1p5);
  }

  @media (--tablet-l) {
    .btn {
      --button-height: var(--size-7);
    }
  }

  .btn-secondary:hover {
    --button-bg-hover: var(--color-fill);
    box-shadow:
      inset 0 0 0 1px var(--color-border),
      inset 0 0 2px rgb(255 255 255),
      inset 0 0 4px 2px rgb(255 255 255 / 64%),
      inset 0 0 16px 2px rgb(255 255 255 / 48%);
  }

  /* #endregion */

  /* ------------------------------------------------------------------------ */
  /* #region: TYPOGRAPHY                                                      */
  /* ------------------------------------------------------------------------ */

  h1 {
    font-size: var(--font-size-display);
    letter-spacing: var(--letter-spacing-display, normal);
    line-height: var(--line-height-display);
    margin-bottom: var(--size-1);
    padding-block: var(--padding-top-display) var(--padding-bottom-display);
    text-transform: uppercase;
    font-weight: 700;
  }

  p {
    font-size: var(--font-size-h3);
    letter-spacing: var(--letter-spacing-h3, normal);
    line-height: var(--line-height-h3);
    margin-bottom: var(--size-4);
    padding-block: var(--padding-top-h3) var(--padding-bottom-h3);
  }

  /* #endregion */
}
