@use '../../theme/abstracts' as *;

// -----------------------------------------------------------------------------
// #region: BASE
// -----------------------------------------------------------------------------

@scope (.container) {
  :scope {
    @include container;
  }

  :scope.container-prose {
    list-style: none;
    margin-inline: auto;
    width: min(100%, var(--width-prose));
  }
}

@scope (.main:not(:has(> .hero))) {
  :scope {
    padding-block-start: var(--spacer);
  }
}

// #endregion
