@use 'variables' as *;
@use 'sass:math';

/* -----------------------------------------------------------------------------
 *  MEDIA QUERIES
 * -------------------------------------------------------------------------- */
/* #region */

@mixin for-size($size, $extrema: min) {

  // If the key exists in the map
  @if map-has-key($size-width-screen, $size) {

    // Minimum width based media queries
    @if $extrema == min {

      @if $size == all {
        @content;
      }

      @else if $size == tablet {
        @media screen and
          (min-width: map-get($size-width-screen, 'tablet')) and
          (min-height: $size-height-landscape-phone + 1px) {
          @content;
        }
      }

      @else {
        @media screen and (min-width: map-get($size-width-screen, $size)) {
          @content;
        }
      }
    }

    // Maximum width based media queries
    @else if $extrema == max {
      @media screen and (max-width: map-get($size-width-screen, $size) - 1px) {
        @content;
      }
    }

    // Min width to max width media queries
    @else if map-has-key($size-width-screen, $extrema) {
      @media screen and (min-width: $size) and (max-width: map-get($size-width-screen, $extrema) - 1px) {
        @content;
      }
    }
  }

  // If the key doesn't exist in the map
  @else {
    @warn 'Unknown breakpoint `#{$size}`. Available breakpoints are: #{map-keys($size-width-screen)}.';
  }
}
/* #endregion */

/* -----------------------------------------------------------------------------
 *  LAYOUT
 * -------------------------------------------------------------------------- */
/* #region */
// stylelint-disable max-nesting-depth
@mixin make-grid(
  $columns: 12,
  $screens: map-keys($size-width-screen)
) {

  @each $screen in $screens {
    @include for-size($screen) {

      $class-base: null;

      // Prefixed classes
      @if $screen != all {
        @for $i from 1 through $columns {

          // Create aliases for halfs, thirds and fourths
          @if math.div($columns, $i) == 4 {
            $class-base: 1\/4;
          } @else if math.div($columns, $i) == 3 {
            $class-base: 1\/3;
          } @else if math.div($columns, $i) == 2 {
            $class-base: 1\/2;
          } @else if $i == 8 {
            $class-base: 2\/3;
          } @else if $i == 9 {
            $class-base: 3\/4;
          } @else {
            $class-base: $i;
          }

          @if $class-base != $i {
            .#{$screen}\:col-#{$class-base}, .#{$screen}\:col-#{$i} {
              grid-column: auto / span $i;
            }
          } @else {
            .#{$screen}\:col-#{$class-base} {
              grid-column: auto / span $i;
            }
          }
        }

        // Start with `1` because `0` is an invalid value.
        // Ends with `$columns - 1` because offsetting by the width of an entire row isn't possible.
        @for $i from 1 through ($columns - 1) {
          .#{$screen}\:col-start-#{$i} {
            grid-column-start: $i;
          }
        }
      }
    }
  }
}
// stylelint-enable max-nesting-depth

@mixin container {
  margin-inline: auto;
  padding-left: var(--size-padding-x-container);
  padding-right: var(--size-padding-x-container);
  position: relative;
  /* width: 100%; max-width: $size-max-width-container; */
  width: min(var(#{$size-max-width-container}), 100%);
}
/* #endregion */

/* -----------------------------------------------------------------------------
 *  TYPOGRAPHY
 * -------------------------------------------------------------------------- */
/* #region */

@mixin heading-base {
  color: var(--color-ink-max);

  // OpenType kerning
  font-family: $font-family-title;
  font-feature-settings: 'kern' 1, 'liga' 1;
}

@mixin text-format($level) {
  font-size: var(--font-size-#{$level});
  line-height: var(--font-line-height-#{$level});
  padding-top: var(--size-padding-top-#{$level});
  padding-bottom: var(--size-padding-bottom-#{$level});
}

@mixin label {
  font-family: inherit;
  font-size: var(--font-size-small);
  font-weight: 500;
  letter-spacing: .5px;
  line-height: var(--line-height, var(--font-line-height-small));
  text-transform: uppercase;
}

@mixin text-truncate {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* Multiline truncate */

@mixin multiline-truncate($lines: 4, $line-height: $size-line, $padding-top: 6px) {
  -webkit-box-orient: vertical; // stylelint-disable-line
  -webkit-line-clamp: $lines;
  display: -webkit-box; // stylelint-disable-line
  // non webkits: limit the height and hide the overlowing content(w/o ellipsis
  max-height: $lines * $line-height + $padding-top;
  overflow: hidden;
}
/* #endregion */

/* -----------------------------------------------------------------------------
 * GRAPHICS
 * -------------------------------------------------------------------------- */
/* #region */

@mixin border {
  border-radius: $shape-border-radius-sm;

  display: flex;
  position: relative;
  overflow: hidden;
  max-width: max-content;

  // Border
  &::after {
    border-radius: $shape-border-radius-sm;
    box-shadow: inset 0 0 0 1px var(--color-ink-border);
    content: '';
    display: block;
    pointer-events: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &:empty {
    display: none;
  }
}

@mixin chevron-down {
  background-color: transparent;
  background-image: var(--icon, var(--icon-chevron-down));
  background-position: center;
  background-repeat: no-repeat;
  background-size: $size-xy-icon;
  content: '';
  display: block;
  position: absolute;
  top: var(--top, 50%);
  inset-inline-end: var(--end, #{$size-2});
  transition: transform var(--motion-duration-sm) $motion-easing-base;
  width: var(--icon-size, #{$size-xy-icon});
  height: var(--icon-size, #{$size-xy-icon});
}
/* #endregion */

/* -----------------------------------------------------------------------------
 *  UTILITIES
 * -------------------------------------------------------------------------- */
/* #region */

@mixin utility-classes($map, $screens: map-keys($size-width-screen)) {
  @each $screen in $screens {
    @include for-size($screen) {
      @each $property, $values in $map {
        @each $class-base, $value in $values {
          $class-name: if($screen == all, #{$class-base}, #{$screen}\:#{$class-base});
          .#{$class-name} { #{$property}: #{$value}; }
        }
      }
    }
  }
}

@mixin sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  margin: -1px;
  padding: 0;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
}

@mixin standard-focus {
  &:focus-visible {
    outline: $size-half solid hsl(var(--h-blue) var(--s) var(--l) / .5);
    outline-offset: 2px;
  }
}

@mixin scrollbar(
  $size: $size-1p5,
  $thumb-bg: var(--color-ink-border),
  $track-bg: transparent
) {

  // The emerging W3C standard that is currently Firefox-only
  scrollbar-width: auto;
  scrollbar-color: $thumb-bg $track-bg;

  // Chrome/Edge/Safari
  &::-webkit-scrollbar {
    background-color: $track-bg;
    width: $size;
  }

  &::-webkit-scrollbar-track {
    background: $track-bg;
  }

  // Handle
  &::-webkit-scrollbar-thumb {
    background-clip: content-box;
    background-color: $thumb-bg;
    border-radius: $shape-border-radius-pill;
    border: 2px solid transparent;
  }
}
/* #endregion */
