@use 'sass:map';
@use 'sass:math';
@use 'functions' as *;

/* -----------------------------------------------------------------------------
 * 🛠️ SETTINGS
 * -------------------------------------------------------------------------- */
// #region

$enable-sidebar-global-nav: false;

// #endregion

/* -----------------------------------------------------------------------------
 * 🎨 COLORS
 * -------------------------------------------------------------------------- */
// #region

$h-red:     1;
$h-yellow:  61;
$h-green:   121;
$h-blue:    211;
$h-magenta: 301;

$h:         $h-blue !default;
$s:         100% !default;
$s-neutral: 20% !default;
$l:         50% !default;

// Base
$color: (
  base: (
    h:         $h,
    s:         $s,
    s-neutral: $s-neutral,
    l-bg-base: 99%,
  ),

  brand: (
    palette: (
      50:  hsl($h $s 97%),
      100: hsl($h $s 94%),
      200: hsl($h $s 90%),
      300: hsl($h $s 84%),
      400: hsl($h $s 76%),
      500: hsl($h $s 67%),
      600: hsl($h $s 55%),
      700: hsl($h $s 50%),
      800: hsl($h $s 42%),
      900: hsl($h $s 32%),
      950: hsl($h $s 20%)
    ),

    functional: (
      primary:          var(--color-brand-700),
      background-light: var(--color-brand-100),
      background-dark:  var(--color-brand-950),
      text:             var(--color-brand-800),
      ink-2ry:          var(--color-brand-600),
      border:           var(--color-brand-200),
      gradient-dark:    linear-gradient(hsl($h $s 44%), hsl($h $s 40%)),
      scrim:            linear-gradient(hsl($h $s 10% / .72), hsl($h $s 10% / .72))
    )
  ),

  background: (
    base:                       hsl($h $s-neutral var(--l-bg-base)),
    2ry:                        hsl($h $s-neutral 96%),
    inverse:                    hsl($h $s 33%),
    frosted-glass:              hsl($h $s-neutral 99% / .9),
    frosted-glass-alt:          hsl($h $s-neutral 96% / .9),
    frosted-glass-backdrop:     #{saturate(180%) blur(20px)},
    frosted-glass-backdrop-alt: #{saturate(180%) blur(8px)},
    scrim:                      rgb(0 0 0 / .6),
    scrim-max:                  rgb(0 0 0 / .87),
  ),

  ink: (
    default: (
      base:               hsl($h $s-neutral 34%),
      2ry:                hsl($h $s-neutral 45%),
      3ry:                hsl($h $s-neutral 57%),
      border:             hsl($h $s-neutral 86%),
      shadow:             #{$h $s-neutral 20%},
      border-translucent: hsl(var(--color-ink-shadow) / .16),
      min:                hsl(var(--color-ink-shadow) / .04),
      link:               hsl($h-blue $s 42%),
      link-hover:         hsl($h-blue $s 50%),
      code:               hsl($h-magenta $s 41%),
      scroll-thumb:       rgb(0 0 0 / .5),
    ),

    inverse: (
      max:    hsl(0 0% 100%),
      base:   hsl(0 0% 100% / .87),
      2ry:    hsl(0 0% 100% / .54),
      3ry:    hsl(0 0% 100% / .38),
      border: hsl(0 0% 100% / .12)
    ),

    neutral: (
      text:   hsl(0 0% 0% / .87),
      2ry:    hsl(0 0% 0% / .54),
      3ry:    hsl(0 0% 0% / .38),
      border: hsl(0 0% 0% / .12)
    )
  ),

  semantic: (
    error: (
      base:       hsl($h-red $s 51%),
      background: hsl($h-red $s 95%),
      text:       hsl($h-red $s 42%),
      ink-2ry:    hsl($h-red $s 60%)
    ),

    warning: (
      base:       hsl($h-yellow $s 43%),
      background: hsl($h-yellow $s 75%),
      text:       hsl($h-yellow $s 23%),
      ink-2ry:    hsl($h-yellow $s 29%)
    ),

    success: (
      base:       hsl($h-green $s 29%),
      background: hsl($h-green $s 86%),
      text:       hsl($h-green $s 24%),
      ink-2ry:    hsl($h-green $s 31%)
    ),

    info: (
      background: hsl($h-blue $s 94%),
      text:       hsl($h-blue $s 42%),
      ink-2ry:    hsl($h-blue $s 55%)
    )
  )
) !default;

// Icons
$color-icon-stroke:         map.get($color, ink, default, 3ry) !default;
$color-icon-fill:           none !default;
$color-icon-stroke-error:   map.get($color, semantic, error, ink-2ry) !default;
$color-icon-fill-error:     map.get($color, semantic, error, background) !default;
$color-icon-stroke-success: map.get($color, semantic, success, ink-2ry) !default;
$color-icon-fill-success:   none !default;

// Adjustment
$color-brightness-up:   brightness(1.2) !default;
$color-brightness-down: brightness(.8) !default;

// #endregion

/* -----------------------------------------------------------------------------
 * 👚 SIZES
 * -------------------------------------------------------------------------- */
// #region

$size-half: rem(4) !default;
$size-1:    rem(8) !default;
$size-1p5:  $size-1 * 1.5 !default;  // 12px
$size-2:    $size-1 * 2 !default;
$size-2p5:  $size-1 * 2.5 !default;  // 20px
$size-3:    $size-1 * 3 !default;
$size-4:    $size-1 * 4 !default;
$size-5:    $size-1 * 5 !default;
$size-6:    $size-1 * 6 !default;
$size-7:    $size-1 * 7 !default;
$size-8:    $size-1 * 8 !default;

// For larger values use derived lines. E.g. $size-line * 3
$size-line:    $size-3 !default;

$size-icon-xy: $size-3 !default;

$mq-breakpoints-base:
  phone,
  phone-p,
  phone-l,
  tablet-l-down !default;

$mq-breakpoints-lg:
  tablet,
  tablet-l,
  desktop !default;

$mq-breakpoints: join($mq-breakpoints-base, $mq-breakpoints-lg) !default;

// Breakpoints for media queries
$mq-breakpoints-desktop-xl:   1920px !default;
$mq-breakpoints-desktop-xxl:  2560px !default;  // iMac 27″
$size-height-landscape-phone: 414px;

$mq-resolution-retina: 'print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi)' !default;

$gutter-base: $size-2p5 !default;
$gutter-lg:   $size-4 !default;
// #endregion

/* -----------------------------------------------------------------------------
 * 🗃 SHADOWS
 * -------------------------------------------------------------------------- */
// #region

// stylelint-disable indentation
$box-shadow: (
  // Buttons, Cards, Alerts, App Bar, Tab Bar, Switches
  z1: 0 1px 0 hsl(var(--color-ink-shadow) / .08),

  z2: ( // FAB, Buttons hover, Snackbars
    0 0 0 1px hsl(var(--color-ink-shadow) / .04),
    0 1px 2px hsl(var(--color-ink-shadow) / .06),
    0 3px 6px hsl(var(--color-ink-shadow) / .1)
  ),

  z3: ( // FAB hover, Drawers, Dropdowns, Modal Bottom Sheets, Pickers, Sticky Components
    0 0 0 1px hsl(var(--color-ink-shadow) / .04),
    0 3px 6px -1px hsl(var(--color-ink-shadow) / .06),
    0 15px 28px -1px hsl(var(--color-ink-shadow) / .1)
  ),

  z4: ( // Popovers, Tooltips
    0 0 0 1px hsl(var(--color-ink-shadow) / .04),
    0 6px 10px -3px hsl(var(--color-ink-shadow) / .06),
    0 27px 50px -3px hsl(var(--color-ink-shadow) / .1)
  ),

  z5: ( // Modals
    0 0 0 1px hsl(var(--color-ink-shadow) / .04),
    0 9px 14px -5px hsl(var(--color-ink-shadow) / .06),
    0 40px 72px -5px hsl(var(--color-ink-shadow) / .1)
  ),

  focus-outline:    0 0 0 $size-half hsla($h, $s, $l, .4),
  focus-outline-sm: 0 0 0 2px hsla($h, $s, $l, .4)
) !default;
// stylelint-enable indentation
// #endregion

/* -----------------------------------------------------------------------------
 * 🔠 TYPOGRAPHY
 * -------------------------------------------------------------------------- */
// #region

// stylelint-disable indentation
// Neo-grotesque is our everything
$font-family-system-sans:  -apple-system, BlinkMacSystemFont, Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif !default;
$font-family-system-serif: 'New York', ui-serif, 'Apple Garamond', Baskerville, 'Iowan Old Style', 'Times New Roman', Times, 'Droid Serif', 'Source Serif Pro', serif !default;
$font-family-emoji:        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji' !default;

$font-family-base:  $font-family-system-sans, $font-family-emoji !default;
$font-family-title: $font-family-base !default;
$font-family-mono:  'SF Mono', SFMono-Regular, ui-monospace, 'Roboto Mono', 'Noto Mono', Menlo, Monaco, Consolas, 'Liberation Mono', monospace, $font-family-emoji !default;

$typeset: (
  phone: (
    // Font scale factor is 1.2 (5:6), minor third
    hero-title: (
      font-size:      rem(34),
      font-weight:    500,
      line-height:    calc(40 / 34),
      padding-top:    rem(7),
      padding-bottom: rem(1),
    ),
    title: (
      font-size:      rem(28),
      font-weight:    500,
      line-height:    calc(32 / 28),
      padding-top:    rem(6),
      padding-bottom: rem(2),
    ),
    h2: (
      font-size:      rem(22),
      font-weight:    500,
      line-height:    calc(24 / 22),
      padding-top:    rem(4),
      padding-bottom: rem(4),
    ),
    subhead: (
      margin-top:     $size-line,
    ),
    big: (
      font-size:      rem(17),
      font-weight:    bolder,
      line-height:    calc(24 / 17),
      padding-top:    rem(6),
      padding-bottom: rem(2),
    ),
    base: (
      font-size:      rem(17),
      line-height:    calc(24 / 17),
      padding-top:    rem(6),
      padding-bottom: rem(2),
    ),
    small: (
      font-size:      rem(12),
      line-height:    calc(16 / 12),
      padding-top:    rem(4),
      padding-bottom: rem(4),
    )
  ),

  // Font scale factor is 1.333 (3:4), perfect fourth
  tablet: (
    hero-title: (
      font-size:      rem(56),
      font-weight:    400,
      line-height:    calc(64 / 56),
      padding-top:    rem(3),
      padding-bottom: rem(5),
    ),
    title: (
      font-size:      rem(56),
      font-weight:    400,
      line-height:    calc(64 / 56),
      padding-top:    rem(3),
      padding-bottom: rem(5),
    ),
    h2: (
      font-size:      rem(43),
      font-weight:    400,
      line-height:    calc(48 / 43),
      padding-top:    0,
      padding-bottom: 0,
    ),
    big: (
      font-size:      rem(30),
      font-weight:    400,
      line-height:    calc(40 / 30),
      padding-top:    rem(1),
      padding-bottom: rem(7),
    )
  ),

  tablet-l: (
    hero-title: (
      font-size:      rem(69),
      font-weight:    300,
      line-height:    calc(64 / 69),
      padding-top:    rem(6),
      padding-bottom: rem(2),
    )
  )

) !default;
// #endregion

/* -----------------------------------------------------------------------------
 * 📐 SPACING
 * -------------------------------------------------------------------------- */
// #region

$spacing: (
  phone: (
    spacer: $size-line,

    // Lists
    padding-bottom-li:   rem(10),
    padding-bottom-list: $size-2,

    // Containers
    padding-x-box:       $size-2,
    padding-x-container: $size-2p5,

    // Buttons
    // Tweak visual alignment
    padding-y-btn: 1px 0,
    padding-x-btn: $size-2,

    // Form
    padding-x-input:             $size-2,
    padding-y-input:             rem(10),
    padding-top-option:          rem(0),
    padding-top-form-actions:    rem(0),
    padding-bottom-form-actions: $size-line,
  ),
  tablet: (
    spacer:              $size-line * 3,
    padding-x-box:       $size-3,
    padding-x-container: $size-5,
  ),
  tablet-l: (
    padding-x-box:       $size-4,
    padding-x-container: $size-8,
  ),
  desktop: (
    padding-x-btn: $size-2p5,
  )
) !default;
// #endregion

/* -----------------------------------------------------------------------------
 * 📐 SIZE
 * -------------------------------------------------------------------------- */
// #region

// Tooltips, mobile drawers
$width-sm:   272px !default;

// Popovers, tablet and desktop drawers, alerts (.modal.is-sm) on landscape phones
$width-base: 320px !default;

// Wide drawers, alerts (.modal.is-sm), popovers on tablets and up
$width-md:   448px !default;

// Default modals on landscape phones and up
$width-lg:   544px !default;

// Large modals on desktops
$width-xl:   720px !default;

// 1360px - 80px page margins
$width-container: 1280px !default;

$width: (
  phone: (
    navbar: 100%,
  ),
  tablet: (
    navbar: 96px,
    /* We can tune it according the current grid and refine for landscape tablet
    and desktop */
    readable: 70ch,
  ),
  tablet-l: (
    content: 960px,
  ),
  desktop: (
    navbar: $width-sm,
    content-10-col: math.round(math.div($width-container, 12) * 10),
    content: $width-container,
  )
) !default;

$height: (
  phone: (
    btn: $size-6,
  ),
  desktop: (
    btn: $size-5,
  ),
) !default;
// #endregion

/* -----------------------------------------------------------------------------
 * 👻 MOTION DESIGN
 * -------------------------------------------------------------------------- */
// #region

// Micro-interactions such as button and toggle
$duration-xxs: .07s !default;

// Micro-interactions such as fade
$duration-xs:  .11s !default;

// Micro-interactions, small expansion, short distance movements
$duration-sm:  .15s !default;

// Expansion, system communication, toast
$duration-md:  .24s !default;

// Large expansion, important system notifications
$duration-lg:  .4s !default;

// Background dimming
$duration-xl:  .7s !default;

$easing-base:          cubic-bezier(.2, 0, .38, .9) !default;
$easing-appearance:    cubic-bezier(0, 0, .38, .9) !default;
$easing-disappearance: cubic-bezier(.2, 0, 1, .9) !default;
$easing-bounce:        cubic-bezier(.175, .885, .32, 1.275) !default;
// #endregion

/* -----------------------------------------------------------------------------
 * 📦 COMPONENT BASE
 * -------------------------------------------------------------------------- */
// #region

$border-width:        rem(1) !default;

// Rectangular Images
$border-radius-xs:   $size-1 !default;

// Buttons
$border-radius-sm:   $size-1p5 !default;

// Boxes (cards, alerts, covers etc), Popovers, Pickers, Tooltips
$border-radius-base: 18px !default;

// Modals
$border-radius-lg:   27px !default;

$border-radius-pill: 100vmax !default;

// BOX Z-INDEX
$zindex-sticky:  10 !default;
$zindex-fixed:   20 !default;
$zindex-fab:     30 !default;
$zindex-popover: 40 !default;
$zindex-tooltip: 50 !default;
// #endregion

/* -----------------------------------------------------------------------------
 * 🧑🏻‍🎨 GRAPHICS
 * -------------------------------------------------------------------------- */
// #region

$icons: (
  // check:           'icon-checkmark.svg',
  calendar:        'icon-calendar.svg',
  time:            'icon-time.svg',
  chevron-down:    'icon-chevron-down.svg',
  error:           'icon-warning.svg',
  search:          'icon-search.svg',
  sm-chevron-down: 'icon-sm-chevron-down.svg',
  success:         'icon-success.svg',
  user:            'icon-user.svg',
  x-mark:          'icon-x-mark.svg'
) !default;

// #endregion
