@use '../config' as *;

// -----------------------------------------------------------------------------
// BASE
// -----------------------------------------------------------------------------
// #region

// We may want to add a background image to the header, so we delegate the main
// block styles to his descendant, .container.

.header > .container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: $size-line;
  position: relative;
  z-index: $zindex-fixed + 1;

  @media (--tablet) {
    justify-content: initial;
    z-index: 3;
  }
}
// #endregion

// -----------------------------------------------------------------------------
// SEARCH
// -----------------------------------------------------------------------------
// #region

// Search toggle button
.header__search-trigger {
  background-color: transparent;
  flex-shrink: 0;
  margin-right: -$size-2;
  padding-right: $size-1 * 1.5;
  padding-left: $size-1 * 1.5;

  @media (--tablet) {
    display: none;
  }
}

// Base
.header__search {
  @media (--phone) {
    background-color: var(--color-background-base);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: $size-2p5;
    padding-left: $size-2p5;
    padding-inline: $size-2p5;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transform: translateY(-$size-line * 3);
    transition:
      opacity $duration-sm $easing-base,
      transform $duration-sm $easing-base;
    height: $size-line * 3;
    z-index: $zindex-fixed;

    &.is-open {
      opacity: 1;
      pointer-events: auto;
      transform: translateY(0);
    }
  }

  @media (--tablet) {
    display: block;
    transform: none;
    height: auto;
  }
}

// Input container
.header__search p {
  padding-bottom: 0;
  flex-grow: 1;
}

.header__search [type='search'] {
  padding-right: $size-7;
  min-width: 100%;
}

// Submit
/* .btn.is-ghost */.header__search-submit {
  background: transparent;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: $size-6;
  height: $size-6;
}

// Cancel button
/* .btn.is-ghost */.header__search-cancel {
  color: var(--color-ink-2ry);
  margin-left: $size-1;
  height: $size-6;

  @media (--tablet) {
    display: none;
  }
}
// #endregion

// -----------------------------------------------------------------------------
// MENU
// -----------------------------------------------------------------------------
// #region

@mixin adaptive-menu {
  display: flex;
  flex-wrap: wrap;
}

.header__navbar {
  @include adaptive-menu;

  justify-content: center;
  padding: 0 0 0 $size-1;

  @media (--tablet) {
    align-items: center;
    border-radius: 0;
    box-shadow: none;
    justify-content: flex-end;
    padding-left: 0;
    position: static;
  }
}
// #endregion

// -----------------------------------------------------------------------------
// SIGN IN, SIGN UP, USER MENU
// -----------------------------------------------------------------------------
// #region

.header__sign-up,
.header__sign-in {
  align-items: center;
  padding: 0;
  height: $size-line * 2;

  > .btn.is-outline {

    margin-right: $size-1;
    max-width: $size-1 * 10;

    @media (--phone) {
      padding-right: $size-1;
      padding-left: $size-1;
      height: $size-line * 2;
    }

    @media (--phone-l) {
      max-width: $size-line * 7;
    }
  }
}

.header__sign-up {
  @media (--tablet) {
    margin-left: $size-1;
  }
}

.header__user {
  margin-right: $size-1;
  padding: 0;

  @media (--phone) {
    position: static;
  }
}
// #endregion
