@use '../config' as *;

$menu-padding: 0;
$menu-item-height: $size-6 - $size-half;

/* stylelint-disable-next-line selector-list-comma-newline-after */
/* ul */.menu {
  --menu-color: var(--color-ink-2ry);
  --menu-item-padding: #{$size-1p5} #{$size-2};

  display: flex;
  list-style-type: none;
  width: 100%;

  li {
    display: block;
    padding: 0;

    &::marker {
      display: none;
    }
  }

  @media (--tablet) {
    li:not(:last-child) {
      margin-bottom: $size-half;
    }
  }
}

/* ul */.menu {
  flex-direction: column;
  padding: $menu-padding;
}

/* a */.menu__link {
  @include menu-item;

  &[aria-current] {
    background-color: var(--color-ink-min);
    cursor: default;
    pointer-events: none;
  }
}

.menu__subtitle {
  &:not(:first-of-type) {
    box-shadow: inset 0 1px 0 var(--color-ink-border);
    padding-top: $size-1;
  }

  > .menu__link {
    color: var(--color-ink-base);
  }
}

// Truncate text. Apply it on direct child using as label
.menu__link > .label {
  @include text-truncate;

  flex-grow: 1;
  min-width: 0;
}

.menu__divider {
  border-top: 1px solid var(--color-ink-border);
  height: 0;
}

.menu__section .menu__link::before {
  color: var(--color-ink-2ry);
  content: '\2022\00a0';
  align-self: flex-start;
}
