@use '../config' as *;

$popover-body-background: var(--color-background-base);
$popover-body-border-radius: $border-radius-base;
$popover-body-border: 0;
$popover-body-box-shadow: var(--box-shadow-z3);
$popover-body-color: var(--color-ink-2ry);
$popover-body-width: $width-sm;

// Container
/* details */.popover {
  position: relative;
}

.popover__body {
  background-clip: padding-box;
  background-color: $popover-body-background;
  border-radius: $popover-body-border-radius;
  border: $popover-body-border;
  box-shadow: $popover-body-box-shadow;
  color: $popover-body-color;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 0;
  padding: $size-2 var(--padding-x-box);
  opacity: 0;
  position: absolute;
  top: auto;
  left: 0;
  transition: opacity $duration-xs;
  width: $popover-body-width;
  z-index: $zindex-popover;

  [open] & {
    opacity: 1;
  }

  &.menu {
    padding: $size-2;
  }

  .is-up > & {
    bottom: 100%;
  }

  .is-right > & {
    left: auto;
    right: 0;
  }
}

// Summary Marker
:where(.popover) summary::after {
  background-image: var(--icon-sm-chevron-down);
  background-position: right center;
  background-repeat: no-repeat;
  content: '';
  display: block;
  width: $size-2p5;
  height: $size-2p5;
}
