@use '../config' as *;

.section {
  content-visibility: auto;
  contain-intrinsic-size: var(--section-height, 640px);
  padding-top: ($size-line * 2);
  padding-bottom: ($size-line * 2);
}

// -----------------------------------------------------------------------------
// SECTION ELEMENTS
// -----------------------------------------------------------------------------

// Heading + extra stuff
.section__header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section__title {
  @include text-format(h2);

  margin: 0;
}

.section__summary {
  @include text-format(big);
  margin: 0;
}

// -----------------------------------------------------------------------------
// VARIATIONS
// -----------------------------------------------------------------------------

.section.is-alt {
  background-color: var(--color-background-2ry);
}

// HIGHLIGHT

.section.is-highlight {
  background-color: var(--color-brand-background-dark);

  h2,
  p {
    color: var(--color-ink-inverse-base);
  }
}

// FULL BLEED

/* .section or section */.is-full-bleed {
  margin-left: 50%;
  translate: (-50%, 0);
  width: 100vw;
}
