@use 'sass:math';
@use '../config' as *;

// -----------------------------------------------------------------------------
// SNIPPET, AKA 'MEDIA OBJECT'
// -----------------------------------------------------------------------------

.snippet + .snippet {
  @media (--tablet-l-down) {
    margin-top: $size-5;
  }
}

.snippet__link {
  @include standard-focus;

  display: flex;
  // We used it to make sure that image doesn’t stretch out.
  align-items: flex-start;
  position: relative;
}

.snippet__img {
  @include border;
  display: none;

  @media (--phone-l) {
    border-radius: $border-radius-sm;
    background: var(--color-brand-primary) no-repeat 50% 50%;
    display: table;
    margin-right: var(--padding-x-box);
    margin-bottom: 0;
    overflow: hidden;
    width: ($size-line * 4);
    height: 104px;
  }
}

.snippet__copy {
  @include multiline-truncate(4, $size-line, 5px);
  flex: 1;
}

:is(.snippet__title, .snippet h2) {
  @include text-format(big);

  font-weight: 500;
  margin-bottom: -$size-line;
}

.snippet__link:hover :is(.snippet__title, .snippet h2) {
  color: var(--color-ink-link);
}

:is(.snippet__lead , .snippet h2 + p) {
  color: var(--color-ink-2ry);
}
