@use '../config/mixins' as *;

/* -----------------------------------------------------------------------------
 * CONTEXTUAL COLORS
 * -------------------------------------------------------------------------- */

.bg-highlight {
  background-color: var(--color-brand-background-dark);
}

.text-highlight-title {
  color: var(--color-brand-ink-2ry);
}

.text-2ry {
  color: var(--color-ink-2ry);
  font-size: 100%;
}

/* -----------------------------------------------------------------------------
 * TEXT PROPERTIES
 * -------------------------------------------------------------------------- */

$text-props: (
  'text-align': (
    class-base: text,
    values: (
      center: center,
      start: start,
      end: end,
    )
  ),
);

@include utility-classes($text-props);

[class$='text-center'] > p {
  margin-right: auto;
  margin-left: auto;
  margin-inline: auto;
}

.nobr {
  white-space: nowrap;
}

/* -----------------------------------------------------------------------------
 * TEXT PROPERTIES
 * -------------------------------------------------------------------------- */

.vertical-middle {
  vertical-align: middle;
}
