@use '../config' as *;

// stylelint-disable declaration-no-important
$some-props: (
  'property': (
    class-base: pr,
    values: (
      center: center,
    )
  ),
);

$display-props: (
  'display': (
    class-base: d,
    values: (
      block: block,
      inline: inline,
      inline-block: inline-block,
      table: table,
      flex: flex,
      inline-flex: inline-flex,
      none: none,
    )
  )
);

@include utility-classes($display-props);
