.card {
  padding: $size-2 var(--size-padding-x-box);
  border-radius: $shape-border-radius-base;
  background: var(--color-background-base);
  box-shadow: var(--layer-box-shadow-z2);

  > header,
  > footer {
    margin-right: calc(var(--size-padding-x-box) * -1);
    margin-left: calc(var(--size-padding-x-box) * -1);
    padding-inline: var(--size-padding-x-box);
  }

  > header {
    margin-top: -$size-2;
    border-top-right-radius: $shape-border-radius-base;
    border-top-left-radius: $shape-border-radius-base;
  }

  > footer {
    border-bottom-left-radius: $shape-border-radius-base;
    border-bottom-right-radius: $shape-border-radius-base;
    margin-bottom: -$size-2;
  }
}
