@use '../../config/variables' as *;

.footer {
  border-top: 1px solid var(--color-ink-border);
  color: var(--color-ink-2ry);
  text-align: center;
  margin-top: $size-8;
  margin-inline: auto;
  padding: ($size-line * 3) $size-2p5;
  width: min(100%, var(--size-width-readable));
}
