@use '../../config/variables' as *;

// Cursor
[aria-busy='true'] {
  cursor: progress;
}

// Everyting except form elements
[aria-busy='true']:not(input):not(select):not(textarea) {

  &::before {
    animation: full-rotate .75s linear infinite;
    border-radius: var(--shape-border-radius-pill);
    border-right-color: transparent;
    border: $size-2p5 solid currentColor;
    content: '';
    display: inline-block;
    opacity: .5;
    vertical-align: middle;
    width: $size-2;
    height: $size-2;
  }

  &:not(:empty) {
    &::before {
      margin-right: $size-1;
      margin-inline-end: $size-1;
      margin-left: 0;
      margin-inline-start: 0;
    }
  }

  &:empty {
    text-align: center;
  }
}

// Buttons and links
button,
input[type='submit'],
input[type='button'],
input[type='reset'],
a {
  &[aria-busy='true'] {
    pointer-events: none;
  }
}


