@use '../../config' as *;

$logo-color: hsl($h $s 40%);

.logo {
  border-radius: $border-radius-base;
  flex-shrink: 0;

  &:hover {
    text-decoration: none;
  }

  &:focus-visible {
    background: var(--color-background-2ry);
    box-shadow: 0 0 0 $size-1 var(--color-background-2ry);
  }

  &,
  &:visited {
    color: $logo-color;
  }

  span {
    display: block;
  }
}

.logo__logotype,
.logo__tagline {
  @include text-format(small);
}

.logo__logotype {
  font-weight: bolder;

  @media (--desktop) {
    font-size: rem(23);
    line-height: calc(24/23);
    white-space: nowrap;
    padding-top: rem(5);
    padding-bottom: rem(3);
  }
}

.logo__tagline {
  color: var(--color-ink-2ry);
  margin-top: -$size-half;
}

:is(.app.is-home, .page.is-home) .logo {
  pointer-events: none;
  cursor: default;

  &:hover {
    color: $logo-color;
  }
}
