/* -------------------------------------------------------------------------- */
/* #region: BASE                                                              */
/* -------------------------------------------------------------------------- */

progress:indeterminate {
  background: var(--progress-bg);
}

progress:indeterminate::before {
  animation: progress-flickering var(--progress-speed) linear infinite;
  background: var(--progress-fill);
  border-radius: var(--progress-radius);
  content: '';
  inset: 0 auto 0 0;
  position: absolute;
  transform: translateX(-100%);
  width: 40%;
  height: 100%;
}

/* #endregion */

/* -------------------------------------------------------------------------- */
/* #region: ANIMATION                                                         */
/* -------------------------------------------------------------------------- */

@keyframes progress-flickering {
  100% {
    transform: translateX(250%);
  }
}

@media (prefers-reduced-motion: reduce) {
  progress:indeterminate::before {
    animation-duration: 6s;
  }
}

/* #endregion */
