/* -------------------------------------------------------------------------- */
/* #region: LAYOUT                                                            */
/* -------------------------------------------------------------------------- */

@define-mixin grid-base($gap: var(--size-2)) {
  display: grid;
  gap: var(--grid-gap, $gap);
  grid-template-columns: var(--grid-columns, 1fr);
  grid-template-rows: var(--grid-rows, auto);

  > * {
    min-height: 0;
    min-width: 0;
  }
}

@define-mixin multi-grid($columns: 12) {
  --grid-columns: repeat($(columns), minmax(0, 1fr));
}

@define-mixin grid-auto($min-width: 80px) {
  --grid-columns: repeat(auto-fit, minmax($(min-width), 1fr));
}

@define-mixin grid($mobile-columns: 1fr, $desktop-columns: 12) {
  @mixin grid-base;

  @media (--tablet) {
    @mixin multi-grid;
  }
}

@define-mixin flex-base() {
  --columns: 1;
  --gap: var(--size-2);

  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

@define-mixin flex-grid($columns: 2, $gap: var(--size-3), $let-flex: false) {
  --columns: $(columns);
  --gap: $(gap);

  @if $let-flex {
    display: flex;
  }

  flex-flow: row wrap;

  > * {
    width: calc(
      100% / var(--columns) - var(--gap) * (var(--columns) - 1) / var(--columns)
    );
  }
}

@define-mixin container($width: var(--width-container)) {
  margin-inline: auto;
  max-width: $width;
  padding-inline: var(--padding-x-container);
  position: relative;
  width: 100%;
}

/* #endregion */

/* -------------------------------------------------------------------------- */
/* #region: TYPOGRAPHY                                                        */
/* -------------------------------------------------------------------------- */

/* stylelint-disable custom-property-pattern */
@define-mixin text-format($level) {
  font-size: var(--font-size-$(level));
  letter-spacing: var(--letter-spacing-$(level), normal);
  line-height: var(--line-height-$(level));
  padding-bottom: var(--padding-bottom-$(level));
  padding-top: var(--padding-top-$(level));
}
/* stylelint-enable custom-property-pattern */

@define-mixin label($uppercase: true) {
  font-family: var(--font-family-base);
  font-size: var(--font-size, var(--font-size-body-sm));
  font-weight: 500;
  letter-spacing: 0.2px;
  line-height: var(--line-height, var(--font-size-body-sm));

  @if $uppercase {
    text-transform: uppercase;
  }
}

@define-mixin text-truncate() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@define-mixin multiline-truncate($lines: 4, $line-height: 24px, $padding-block: 8px) {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lines;
  display: -webkit-box;
  line-clamp: $lines;
  max-height: calc($lines * $line-height + $padding-block);
  overflow: hidden;
}

@define-mixin multiline-truncate-override($lines: 4, $line-height: 24px, $padding-block: 8px) {
  -webkit-line-clamp: $lines;
  line-clamp: $lines;
  max-height: calc($lines * $line-height + $padding-block);
}

@define-mixin multiline-truncate-reset() {
  /* stylelint-disable-next-line property-no-deprecated */
  -webkit-box-orient: initial;
  -webkit-line-clamp: unset;
  display: block;
  line-clamp: unset;
  max-height: none;
  overflow: visible;
}

@define-mixin text-inline-block {
  display: inline-block;
  margin-block: -1px;
  padding: 1px var(--size-1);
  vertical-align: baseline;
}

@define-mixin baseline-debug(
  $root,
  $major-step: calc(var(--size-1) * 3),
  $minor-step: var(--size-1),
  $line-color: rgb(0 0 0 / 0.2),
  $step-color: rgb(255 0 255 / 0.2)
) {
  position: relative;

  @media (any-hover: hover) {
    $($root):hover::after {
      background-image:
        repeating-linear-gradient(
          to bottom,
          $line-color 0 1px,
          transparent 1px $major-step
        ),
        repeating-linear-gradient(
          to bottom,
          $step-color 0 1px,
          transparent 1px $minor-step
        );
      content: '';
      pointer-events: none;
      position: absolute;
      inset: 0;
      z-index: 1000;
    }
  }
}

/* #endregion */

/* -------------------------------------------------------------------------- */
/* #region: GRAPHICS                                                          */
/* -------------------------------------------------------------------------- */

@define-mixin border($root) {
  border-radius: var(--border-radius-base);
  display: flex;
  max-width: max-content;
  overflow: hidden;
  position: relative;

  $($root)::after {
    border-radius: var(--border-radius-base);
    box-shadow: inset 0 0 0 1px var(--color-border-neutral);
    content: '';
    display: block;
    pointer-events: none;
    position: absolute;
    inset: 0;
  }

  $($root):empty {
    display: none;
  }
}

/* #endregion */

/* -------------------------------------------------------------------------- */
/* #region: UTILITIES / HELPERS                                               */
/* -------------------------------------------------------------------------- */

@define-mixin visually-hidden() {
  border: 0;
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

@define-mixin state-disabled() {
  cursor: not-allowed;
  filter: grayscale(100%);
  opacity: 0.5;
  pointer-events: none;
}

@define-mixin state-focus($size: 2px, $color: var(--color-text-02-info)) {
  box-shadow: 0 0 0 $size $color;
  outline: 0;
}

@define-mixin state-hover-a {
  text-decoration: underline;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: max(0.08em, 1px);
  text-underline-offset: 0.125em;
}

/* #endregion */

/* -------------------------------------------------------------------------- */
/* #region: ELEMENTS                                                          */
/* -------------------------------------------------------------------------- */

@define-mixin menu-item($root) {
  --button-height: auto;

  align-items: center;
  background-color: transparent;
  border: 0;
  border-radius: var(--border-radius-sm);
  color: var(--menu-color, var(--color-text-02));
  display: flex;
  font-size: inherit;
  font-weight: inherit;
  gap: var(--size-1);
  justify-content: flex-start;
  outline: 0;
  padding: var(--menu-item-padding, var(--size-1) var(--size-2));
  position: relative;
  text-align: left;
  text-decoration: none;
  text-transform: none;
  transition:
    background var(--duration-50),
    color var(--duration-50);
  user-select: none;
  width: 100%;

  > * {
    min-width: 0;
  }

  $($root):focus-visible {
    @mixin state-focus;
  }

  @media (any-hover: hover) {
    $($root):hover {
      background-color: var(--color-fill);
      text-decoration: none;
    }
  }

  $($root):is(:active, :focus-visible) {
    background-color: var(--color-fill);
    text-decoration: none;
  }
}

@define-mixin scrollbar(
  $root,
  $size: var(--size-1),
  $thumb-bg: var(--color-scroll-thumb),
  $track-bg: var(--color-scroll-track)
) {
  scrollbar-color: $thumb-bg $track-bg;
  scrollbar-width: thin;

  $($root)::-webkit-scrollbar {
    height: $size;
    width: $size;
  }

  $($root)::-webkit-scrollbar-track {
    background: $track-bg;
    border: none;
    box-shadow: none;
  }

  $($root)::-webkit-scrollbar-thumb {
    background-color: $thumb-bg;
    border: var(--size-half) solid transparent;
    border-radius: var(--border-radius-pill);
  }
}

/* #endregion */
