@use '../../base/abstracts' as *;

// -----------------------------------------------------------------------------
// #region: MAPS & MIXINS
// -----------------------------------------------------------------------------

$section-variants: (
  'header-centered': (
    --section-display: flex,
    --section-align-items: center,
    --section-flex-direction: column,
    --section-text-align: center,
    --section-margin-inline: auto,
    --section-padding-bottom: var(--size-7),
    --section-max-width: #{rem(622)},
  ),
);

$section-title-variants: (
  'highlight': (
    --section-title-bg-image: var(--color-gradient-brand),
    --section-title-bg-clip: text,
    --section-title-bg-repeat: no-repeat,
    --section-title-bg-size: 100%,
    --section-title-color: transparent,
  ),
);

@mixin section-variants($map) {
  @each $variant, $props in $map {
    &-#{$variant} {
      @each $prop, $value in $props {
        #{$prop}: #{$value};
      }
    }
  }
}
// #endregion

// -----------------------------------------------------------------------------
// #region: BASE
// -----------------------------------------------------------------------------

@scope (.section) {
  :scope {
    margin-top: var(--spacer-max);
    padding-block: var(--spacer);

    @include section-variants($section-variants);
  }

  // Child elements in header-centered
  :scope.section-header-centered {
    h2 {
      margin-bottom: 0;
      margin-top: var(--size-1);
    }
  }
}
// #endregion

// #region Section Title
@scope (.section-title) {
  :scope {
    color: var(--color-ink-text);

    @include section-variants($section-title-variants);
  }
}
// #endregion
