
// stylelint-disable selector-no-qualifying-type
@use '../config' as *;

/* -----------------------------------------------------------------------------
 * DEFAULT
 * -------------------------------------------------------------------------- */
// #region

$btn-border-outline:     1px solid var(--color-brand-border);
$btn-color-outline:      var(--color-brand-text);

.btn,
button,
input[type='submit'],
input[type='button'],
input[type='reset'],
a[role='button'] {
  @include button;
}

// Remove the inner border and padding in Firefox
:where(button, [type='button'], [type='reset'], [type='submit'])::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
// #endregion

/* -----------------------------------------------------------------------------
 * PRIMARY
 * -------------------------------------------------------------------------- */
// #region

.btn.is-primary {
  @include button-primary;
}
// #endregion

/* -----------------------------------------------------------------------------
 * OUTLINE, GHOST AND ICON
 * -------------------------------------------------------------------------- */
// #region

.btn.is-outline,
.btn.is-ghost {
  background: transparent;
  color: $btn-color-outline;

  &:hover {
    background: var(--color-ink-min);
  }
}

.btn.is-outline {
  border: $btn-border-outline;
}

// ICON
.btn.is-icon {
  padding: 0;
  width: $size-5;
  height: $size-5;
}
// #endregion

/* -----------------------------------------------------------------------------
 * DISABLED
 * -------------------------------------------------------------------------- */
// #region

.btn button,
input[type='submit'],
input[type='button'],
input[type='reset'],
a[role='button'] {
  &[disabled] {
    cursor: not-allowed;
    opacity: .5;
    pointer-events: none;
  }

  &[disabled]:hover {
    filter: none;
  }
}
// #endregion

/* -----------------------------------------------------------------------------
 * CLOSE
 * -------------------------------------------------------------------------- */
// #region

// button
.btn.is-close:not(footer .btn.is-close) {
  border-radius: 50%;
  padding: $size-half;
  width: max-content;
  height: auto;
}
// #endregion

/* -----------------------------------------------------------------------------
 * BUTTON GROUP
 * -------------------------------------------------------------------------- */
// #region

.buttons {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: $size-2;

  @supports not (gap: 4px) {
    > * {
      margin-bottom: $size-2;

      @media (--tablet) {
        margin-bottom: 0;
      }
    }

    .button + .button {
      margin-left: $size-1;
    }
  }
}
// #endregion
