@use '../config' as *;

:focus-visible {
  scroll-padding-block-end: 8vh;
}

/* -----------------------------------------------------------------------------
 * BLOCK
 * -------------------------------------------------------------------------- */
// #region

address,
dl,
p,
.link.is-forward {
  margin-top: 0;
  margin-bottom: $size-2;
  padding-top: var(--padding-top-base);
  padding-bottom: var(--padding-bottom-base);
}

address {
  font-style: normal;
}

div,
dd,
dt,
li,
p,
td,
th {
  // Formerly `word-wrap`. Breaks words to prevent overflow in all browsers
  overflow-wrap: break-word;
}

.lead,
.content > header + p {
  @include text-format(big);
  margin: 0;
}

// LISTS
// #region
/* p, span */.list-caption {
  display: block;
  padding-top: var(--padding-top-base);
  padding-bottom: var(--padding-bottom-base);
}

ol,
ul {
  margin-top: 0;
  margin-bottom: $size-2;
}

:where(ol, ul) {
  li {
    padding-top: var(--padding-top-base);
    padding-bottom: var(--padding-bottom-base);
  }

  // Nested lists
  ul {
    padding-left: $size-3;
  }
}

// Unordered list
ul {
  > li::marker {
    color: var(--color-brand-primary);
    content: '\2022\00a0';
  }

  @media (--tablet) {
    padding-left: 0;
  }
}

// Ordered list
ol {
  counter-reset: item-counter;
  list-style: none;

  li {
    position: relative;
    padding-left: $size-3;

    &::before {
      color: var(--color-ink-2ry);
      content: counter(item-counter) ')';
      counter-increment: item-counter;
      position: absolute;
      left: 0;
    }
  }
}

nav ul,
.list.is-unstyled,
.list.is-inline {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;

  > li::marker {
    color: var(--color-brand-primary);
    content: '\2022\00a0';
  }
}

.list.is-inline {
  li {
    display: inline-block;

    &:not(:last-child) {
      margin-right: $size-half;
    }
  }
}

// Description List
dt {
  display: inline-block;
  font-weight: bolder;
  padding-right: $size-half;
}

dd {
  display: inline;
  margin-left: 0;

  &:not(:last-child)::after {
    content: '';
    display: block;
    height: $size-line;
  }
}
// #endregion

// Dividers
hr {
  border: 0;
  border-top: $border-width solid var(--color-ink-border);
  margin-top: $size-line * 3 - $border-width;
  margin-bottom: $size-line * 3;
}

// #endregion

/* -----------------------------------------------------------------------------
 * INLINE
 * -------------------------------------------------------------------------- */
// #region

// LINKS
// #region
@mixin a-hover {
  color: var(--color-ink-link-hover);
  text-decoration-skip-ink: auto;
  text-decoration: underline;
  text-decoration-thickness: max(.08em, 1px);
  text-underline-offset: .15em;
}

a,
[role='link'] {
  @include standard-focus;

  color: var(--color-ink-link);
  // Reapply the pointer cursor for anchor tags
  cursor: pointer;
  text-decoration: none;
  transition: color $duration-xxs;

  &:is(:active, :focus-visible) {
    @include a-hover;
  }

  // Prevent hover issues on touch screens
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      @include a-hover;
    }
  }

  &:is([aria-current]) {
    color: var(--color-ink-base);
  }
}

.link.is-forward {
  display: inline-block;
  padding-right: $size-3;
  position: relative;

  .icon {
    position: absolute;
    top: var(--padding-top-base);
    right: 0;
  }
}

// Scroll padding allowance above anchor links
:target {
  scroll-padding-block-start: $size-4;
}

// #endregion

// MISC
b,
strong {
  font-weight: bolder;
}

em,
i {
  font-style: italic;
}

small {
  font-size: var(--font-size-small);
  line-height: var(--line-height-small);
}

.petit {
  @include text-format(small);
}

::selection {
  background: var(--color-core-brand-800);
  color: var(--color-core-brand-100);
  text-shadow: none;
}

// Sub / Sup
// #region
// Prevent `sub` and `sup` elements from affecting the line height in all browsers
sub,
sup {
  font-size: var(--font-size-small);
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}
// #endregion

// #endregion
