@use '../config' as *;

html {
  // Remove the grey highlight on links in iOS (opinionated)
  -webkit-tap-highlight-color: transparent;
  // Use the default cursor in all browsers
  cursor: default;
  // Prevent adjustments of font size after orientation changes in iOS
  text-size-adjust: 100%;
  // Prevent horizontal scrolling on the pages containing full width sections
  overflow-x: hidden;
  scroll-behavior: smooth;
  scrollbar-color: var(--color-brand-primary) var(--color-ink-min);
  // Reserving space for the scrollbar
  scrollbar-gutter: stable;
  scrollbar-width: thin;
  min-height: 100vh;

  // Avoid Chrome to see Safari hack
  @supports (-webkit-touch-callout: none) {
    // stylelint-disable-next-line value-no-vendor-prefix
    min-height: -webkit-fill-available;
  }
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: var(--color-background-base);
  color: var(--color-ink-base);
  font-family: $font-family-base;
  font-size: var(--font-size-base);
  letter-spacing: .011em;
  line-height: var(--line-height-base);
  text-align: left;
  // Create safe areas for iPhone X+
  padding:
    env(safe-area-inset-top)
    env(safe-area-inset-right)
    env(safe-area-inset-bottom)
    env(safe-area-inset-left);

  // Use a 2-space tab width in all browsers
  tab-size: 2;
  min-width: 320px;
  min-height: 100vh;

  // Avoid Chrome to see Safari hack
  @supports (-webkit-touch-callout: none) {
    // stylelint-disable-next-line value-no-vendor-prefix
    min-height: -webkit-fill-available;
  }
}

// .page.has-side-navigation {
//   @media (--tablet) {
//     padding-left: var(--width-navbar);
//     padding-inline-start: var(--width-navbar);
//   }
// }

// .wrapper, .has-sidebar-nav, .has-side-navigation, .page.is-app, .root-layout,
// .scaffold, .base
/* body */.app {
  @media (--tablet) {
    display: grid;
    grid-template-areas:
      'navbar main'
      'navbar footer';
    grid-template-columns: var(--width-navbar) 1fr;
    grid-template-rows: 1fr auto;
  }
}

.app > * {
  min-width: 0;
}
