@use '../config' as *;

.grid {
  display: grid;
  gap: var(--gap, #{$gutter-base});
  display: grid;
  grid-template-columns: 1fr;
  margin: 0;

  > * {
    // HACK for childs in overflow
    min-width: 0;
  }

  @media (--tablet) {
    --gap: #{$gutter-lg};

    grid-template-columns: repeat(var(--columns, 12), 1fr);
  }
}

.grid.is-auto {
  --layout-grid-min: #{$size-line * 7};

  @media (--tablet) {
    grid-template-columns: repeat(
      auto-fit,
      minmax(min(100%, var(--layout-grid-min)), 1fr)
    );
  }
}

// Grids for phones
@media (--phone) {
  .phone\:grid-3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (--phone) {
  .phone\:grid-4 {
    grid-template-columns: repeat(4, 1fr);
  }
}

// .col-1 to .col-4 for all grids
@for $i from 1 through 4 {
  .col-#{$i} {
    grid-column: auto / span $i;
  }
}

// Offsets for all screens
@for $i from 1 through 3 {
  .col-start-#{$i} {
    grid-column-start: $i;
  }
}

// Column classes for tablets and desktops
@include grid-columns();
